.profile-address {
  &-head {
    font-weight: 0.875rem;
    &-text {
      opacity: $opacity-mid;
      margin-top: 1rem;
    }

    &-btn {
      margin-top: 1rem;

      &-button {
        width: 100%;
        color: $color-red !important;
        border: $border-card !important;
      }
    }
  }

  &-main {
    border: $border-card;
    border-radius: 0.3rem;
    padding-top: 1rem;
    margin: 1rem 0;

    &-data {
      &-dt {
        font-size: 0.875rem;
        padding: 0.5rem 0;
        &-1 {
          font-weight: $weight-mid;
          font-size: 0.875rem;
        }
      }
      &-name {
        font-size: 1rem;
        font-weight: $weight-mid;
      }
      &-adr {
        font-size: 0.875rem;
        margin: 1rem 0;
      }
    }

    &-option {
      border-top: $border-card;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      font-weight: $weight-mid;

      &-0 {
        opacity: $opacity-mid;
      }
      &-select {
        color: $color-red;
        cursor: pointer;
      }

      &-1 {
        float: right;
        margin-right: 1rem;
        cursor: pointer;
      }
    }
  }
}
