.profile-order {
  &-head {
    margin: 1rem;
    &-text {
      font-size: 0.875rem;
      opacity: $opacity-mid;
      padding-top: 0.5rem;
    }

    &-filter {
      &-text {
        font-size: 0.875rem;
        padding-top: 0.5rem;
      }

      &-data {
        font-size: 0.875rem;
      }
    }
  }

  &-main {
    border: $border-card;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    &-head {
      padding: 1rem 0 0.5rem 0;
      border-bottom: $border-card;
      &-title {
        font-size: 0.875rem;
        opacity: $opacity-mid;
        text-transform: uppercase;
      }
      &-data {
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
      }
      &-btn {
        width: 100%;
        &-button {
          width: 100%;
          color: $color-red !important;
          border: $border-card !important;
        }
      }
    }

    &-content {
      margin: 1rem 0;
      &-img {
        height: 6rem;
        width: 4.5rem;
        margin-bottom: 0.5rem;
        img {
          height: 100%;
          width: 100%;
          border-radius: 0.3rem;
        }
      }

      &-name {
        font-size: 0.875rem;
        font-weight: $weight-mid;
      }
      &-disc {
        font-size: 0.875rem;
        overflow: hidden !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
      }

      &-detail {
        font-size: 0.875rem;
        span {
          margin-right: 2rem;
        }
      }
      &-price {
        margin-top: 0.5rem;
        font-size: 0.875rem;
        font-weight: $weight-mid;
      }

      &-track {
        &-status {
          font-size: 0.875rem;
          &-disc {
            font-size: 0.875rem;
            opacity: 0.5rem;
          }
        }
        &-btn {
          margin-top: 0.5rem;
          width: 100%;
          &-button {
            width: 100%;
            font-size: 0.875rem !important;
          }
        }
      }
    }
  }

  &-detail {
    &-head {
      border-bottom: $border-card;
      font-size: 0.875rem;
      padding-bottom: 1rem;
      font-weight: $weight-mid;
      span {
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }

    &-main {
      &-header {
        font-size: 1.25rem;
        font-weight: $weight-mid;

        &-disc {
          font-size: 0.875rem;
          margin-bottom: 1rem;
        }

        &-btn {
          margin: 0.5rem 0 1rem 0;
          &-button {
            width: 100%;
            color: $color-red !important;
            border: $border-card !important;
          }
        }
      }
    }

    &-delivery {
      border: $border-card;
      border-radius: 0.5rem;
      min-height: 17.875rem;
      margin: 1rem 0;
      &-head {
        padding: 1rem 0 0 0;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: $weight-mid;
      }

      &-main {
        margin: 0.5rem 0;

        &-title {
          font-size: 0.875rem;
          font-weight: $weight-mid;
        }
        &-data {
          font-size: 0.875rem;
          padding: 0.1rem 0;

          opacity: $opacity-heavy;
        }
      }
    }
    &-payment {
      border: $border-card;
      border-radius: 0.5rem;
      height: 17.875rem;
      margin: 1rem 0;
      &-head {
        padding: 1rem 0 0 0;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: $weight-mid;
      }

      &-main {
        margin: 0.5rem 0;

        &-title {
          font-size: 0.875rem;
          font-weight: $weight-mid;
        }
        &-data {
          font-size: 0.875rem;
          &-dt {
            opacity: $opacity-mid;
            padding: 0.1rem 0;
            &-right {
              opacity: $opacity-mid;
              text-align: right;
            }
            &-dark {
              font-weight: $weight-mid;
              &-right {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
