// profile return popup
.ppup {
  min-width: 25rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #cecece;
  border-radius: 6px;
  padding: 1rem 0;
  margin: 1rem;

  &-modal-dialog {
    max-width: 50rem;
  }

  //   request-fitting
  &-rf {
    &-head {
      font-weight: $weight-mid;
    }
    &-img {
      height: 7.5rem;
      width: 6.875rem;
      margin: 1rem 0;
      background-color: $color-red-lighter;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &-txt {
      font-size: 0.875rem;
      opacity: $opacity-mid;

      &-red {
        margin-top: 1rem;
        color: $color-red;
        font-size: 0.875rem;
        font-weight: $weight-mid;
      }
    }
    &-btn {
      width: 100%;
      margin-bottom: 2rem;
      &-button {
        width: 100%;
        border-color: $color-red !important;
        color: $color-red !important;
      }
    }
  }

  &-rp {
    &-bk {
      cursor: pointer;
      margin-bottom: 1rem;
    }
    &-head {
      font-weight: $weight-mid;
      margin-bottom: 1rem;
    }
    &-dt {
      font-size: 0.875rem;
      padding: 0.5rem;
      border: $border-card;
      margin: 0.25rem 0;
      border-radius: 0.25rem;
      cursor: pointer;
    }
  }
}
