.profile {
  @include PaddingNav();

  &-header {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: $weight-mid;

    &-small {
      &-ph {
        font-weight: $weight-mid;
      }
      &-email {
        font-size: 0.75rem;
        opacity: $opacity-mid;
      }
    }
  }
  &-main {
    margin: 1rem 0 4rem 0;
    width: 100%;
    min-height: 30rem;
    border: $border-card;
    border-radius: 0.5rem;
  }
  &-options {
    background-color: $color-card-bg;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: 100%;
    min-height: 30rem;

    &-option {
      width: 100%;
      border: $border-card;
      padding: 1rem 0;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $color-black;
        &:hover {
          text-decoration: none;
        }
      }

      &-0 {
        border-top-left-radius: 0.5rem;
      }

      &-1 {
        font-size: 1rem;
        padding-left: 1rem;
      }
      &-2 {
        padding: 1rem 0;
        border-bottom-left-radius: 0.5rem;

        vertical-align: bottom;
        &-btn {
          width: 90%;
          background-color: $color-red !important;
        }
      }

      &-selected {
        width: 100%;
        border-right: $border-card;
        padding: 0.7rem 0;
        background-color: $color-white;
        cursor: pointer;

        &-1 {
          font-size: 1rem;
          padding: 0.3rem 0 0.3rem 1rem;
          border-left: 0.2rem solid $color-red;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    &-options {
      background-color: $color-white;
    }
  }
}
