.hmpg {
  @include PaddingNav();

  &-mrq {
    background-color: $color-black;
    height: 2rem;
    color: $color-yellow;
    font-weight: $weight-mid;
    font-size: 0.875rem;
    padding-top: 0.25rem;
  }
}
