.bill {
  margin-top: 1.5rem;
  border: $border-card;
  border-radius: 0.5rem;
  background-color: $color-white;
  &-head {
    font-size: 1.25rem;
    font-weight: $weight-mid;
    padding: 1.5rem 0rem 1rem 0rem;
  }
  &-coupon {
    border: $border-card;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    &-input {
      border: hidden;
      height: 100%;
      width: 70%;
      font-size: 1rem;
      padding-left: 1rem;
      &::placeholder {
        opacity: $opacity-mid;
      }
    }
  }
  &-btn {
    width: 30%;
    height: 100%;
    font-size: 1rem !important;
    color: $color-red !important;
    &-2 {
      width: 100%;
      background-color: $color-red !important;
      height: 100%;
    }
    &-div {
      margin: 2rem 0rem 1rem 0rem;
      width: 100%;
    }
  }

  &-data {
    &-txt {
      margin-top: 0.5rem;
      text-align: left;
      &-dark {
        margin-top: 1rem;
        font-weight: $weight-mid;
        text-align: left;
      }
    }
    &-amt {
      margin-top: 0.5rem;

      text-align: right;
      &-dark {
        font-weight: $weight-mid;
        margin-top: 1rem;

        text-align: right;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .bill {
    &-head {
      font-size: 1rem;
    }
    &-coupon {
      &-input {
        font-size: 0.75rem;
        padding-left: 0.5rem;
        width: 60%;
      }
    }
    &-btn {
      width: 40%;
    }

    &-data {
      &-txt {
        font-size: 0.85rem;
        &-dark {
          font-size: 0.85rem;
        }
      }
      &-amt {
        font-size: 0.85rem;
        &-dark {
          font-size: 0.85rem;
        }
      }
    }
  }
}
