.ftr {
  background-color: $color-footer-bg;
  min-height: 32rem;
  width: 100%;
  padding-top: 2rem;
  &-card {
    &-header {
      margin-top: 0.5rem;
      padding-bottom: 0.4rem;
      border-bottom: 1px solid $color-ftr-txt;
      a {
        color: $color-ftr-txt;
        width: 100%;
        display: block;
        &:after {
          content: "+";
          font-size: 1.5rem;
          position: absolute;
          right: 2.5rem;
          transition: transform 0.25s ease-in-out;
        }
        &:hover,
        &:focus {
          text-decoration: none;
        }
        &[aria-expanded="true"] {
          &:after {
            transform: rotate(135deg);
          }
        }
      }
    }

    &-data {
      @include footer-text();
      color: $color-ftr-txt;
      margin: 1rem 0rem 1rem 0rem !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &-span {
        @include footer-text();

        color: $color-ftr-txt;
      }

      li {
        margin: 0.5rem 2rem;

        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $color-ftr-txt;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &-spcg {
      margin-bottom: 2rem;
    }
  }

  &-content {
    margin-top: 3rem;
    &-head {
      @include footer-heading();
      color: $color-ftr-txt;
      text-decoration: none;
    }

    &-data {
      @include footer-text();
      color: $color-ftr-txt;
      margin: 1rem 0rem 1rem 0rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-data1 {
      @include footer-heading();
      padding-top: 10%;
      color: $color-ftr-txt;

      &-spcg {
        margin-bottom: 2rem;
      }
    }
  }

  &-logo {
    background-color: rgba(255, 255, 255, 0);
    border: 0.1rem solid #cecece;
    border-radius: 0.5rem;
    @include max-ht-wd($ht: 4rem, $wd: 4rem);
    min-width: 4rem;
    min-height: 4rem;
    opacity: $opacity-mid;

    i {
      margin-left: 33%;
      margin-top: 30%;
      font-size: 1.5rem;
      opacity: $opacity-light;
    }
  }

  &-foot {
    margin-top: 3rem;
  }
}
